<!-- Hero Section -->
<section class="bg-dark-primary text-default-primary hero-section position-relative min-vh-100  overflow-hidden d-flex align-items-center">
    <div class="ellipsis first"></div>
    <div class="ellipsis second"></div>

    <div class="d-flex flex-column align-items-center w-100 z-10 pt-10 md:pt-0">
        <div class="container">
            <div class="w-100">
                <div class="row align-items-center justify-content-center  gap-y-8">
                    <div class="cta-img-1 w-auto">
                        <img src="assets/images/landing-page/person-cta-1.png" alt="Image" class="object-fit-contain h-100">
                    </div>
                    <div class="col-12 col-lg-5 text-center" style="z-index: 12;">
                        <h1 class="text-custom-light-50">Unlock Your Child's Full Potential</h1>                       <div>
                            <a
                            class="btn btn-primary w-100"
                            href="/sign-in">
                            <span>Get Zeraki Learning Today</span>
                        </a>
                        <p> Zeraki brings the best high school teachers home and empowers students to excel in exams and beyond.</p>
                    </div>
                    <div class="cta-img-2 w-auto ">
                        <img src="assets/images/landing-page/person-cta-2.png" alt="Image" class="object-fit-contain h-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="overlay dark-overlay"></div>
</section>

<!-- Client Section -->
<section class="pt-0 pb-5 text-center bg-default-primary position-relative">
    <img src="assets/images/ui/ellipsis-base.svg" alt="" class="ellipsis-base">
    <div class="w-100" style="z-index: 20;">
        <h6>Trusted By</h6>
        <div class="d-flex flex-wrap gap-4 justify-content-center align-items-center mt-5">
            <img src="assets/images/clients/Mastercard.svg" alt="Clients" class="object-fit-contain w-auto h-60">
            <img src="assets/images/clients/Microsoft.svg" alt="Clients" class="object-fit-contain w-auto h-60 p-4">
            <img src="assets/images/clients/google.svg" alt="Clients" class="object-fit-contain w-auto h-60 p-4">
        </div>
    </div>
</section>

<!-- Target Audience Section -->
<section class="text-center bg-default-primary">
    <div class="container mx-auto">
    <div class="row gap-4 gap-lg-5">
        <div class="col-12 col-lg-12">
            <h2 class="text-5xl font-bold">Designed for Legal Professionals</h2>
            <p>Whether you're defending or prosecuting, in a small practice or a large firm, Zeraki is your partner in legal management.</p>
        </div>
        <div class="col-12 col-lg-12">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 text-center">
                    <h3><span class="text-accent-light font-fasthand">01.</span> Individual Lawyers</h3>
                    <p>Enhance your practice with personalized case management, ensuring you and your clients are always in sync.</p>
                </div>
                <div class="col-12 col-lg-6  text-center">
                    <h3><span class="text-accent-light font-fasthand">02.</span> Law Firms</h3>
                    <p>Elevate your team's performance by consolidating case management across departments, improving collaboration and efficiency.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Why Us Section -->
<section class="bg-dark-primary text-dark-on-primary">
    <div class="container mx-auto">
    <div class="row align-items-center gap-y-10">
        <div class="col-12 col-lg-6 text-center">
            <img src="assets/images/landing-page/phone-mockup-zeraki.png" alt="illustration" class="object-fit-contain w-100 mx-auto">
        </div>
        <div class="col-12 col-lg-6 align-items-center justify-content-center gap-y-4 text-center">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2 class="text-5xl font-bold">Why Zeraki?</h2>
                    <p>Whether you're defending or prosecuting, in a small practice or a large firm, Zeraki is your partner in legal management.</p>
                    <a class="btn btn-primary bg-default-info mt-4 w-100"
                        (click)="joinTheWaitlistModal()">
                        <span>Unlock the future of legal case management today</span>
                    </a>
                </div>
                <div class="col-12 col-md-6 text-center px-2">
                    <h3><span class="text-default-info font-fasthand">01.</span> Stay Updated</h3>
                    <p>With real-time alerts, never miss a court date or a crucial deadline again.</p>
                </div>
                <div class="col-12 col-md-6 text-center px-2">
                    <h3><span class="text-default-info font-fasthand">02.</span> Enhance Communication</h3>
                    <p>Directly communicate with clients, opposing counsel, and team members all in one platform.</p>
                </div>
                <div class="col-12 col-md-6 text-center px-2">
                    <h3><span class="text-default-info font-fasthand">03.</span> Organize Effortlessly</h3>
                    <p>Manage court dates, writs of summons, and case stages with a few taps.</p>
                </div>
                <div class="col-12 col-md-6 text-center px-2">
                    <h3><span class="text-default-info font-fasthand">04.</span> Customizable Solutions</h3>
                    <p>Whether you're a solo practitioner or a bustling law firm, our tailored packages meet your specific needs.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Meet teachers -->
<section class="bg-brand-blue-500 text-default-on-primary w-100 bg-pattern position-relative overflow-hidden">
    <div class="ellipsis first"></div>
    <div class="ellipsis second"></div>
    <div class="container">
        <div class="d-flex flex-column align-items-center w-100 text-center gap-4">
            <h2 class="font-extrabold">Start Your Child's Learning Journey with Zeraki</h2>
            <p>With Zeraki's assessment score there’s nowhere you’ll go wrong</p>
            <div class="row w-100 max-w-2xl">
                <div class="col-12 col-lg-6">
                    <a href="/sign-in" class="btn btn-primary w-100">
                        <span>SignIn to Zeraki Learning</span>
                    </a>
                </div>
                <div class="col-12 col-lg-6">
                    <button (click)="joinTheWaitlistModal()" class="btn btn-secondary w-100">
                        <span>Book a Demo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA Section -->
<section class="p-4 text-center">
    <div class="container">
    <div class="w-100 max-w-md mx-auto d-flex flex-column justify-content-center align-items-center gap-2">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-12">
                <h2 class="text-5xl font-bold">Meet your teachers</h2>
                <p>Zeraki brings the best high school teachers home and empowers students to excel in exams and beyond.</p>
                <!-- <a class="btn btn-primary mt-4 w-100 max-w-3xl mx-auto" (click)="joinTheWaitlistModal()">
                    <span>Download on Google Play Store</span>
                </a> -->
            </div>
            <div class="col-12 col-lg-12">
                <div class="row align-items-center py-4">
                    <div class="col-12 col-lg-4 d-flex flex-column align-items-center gap-2">
                        <div class="teacher-img mb-4">
                            <img src="assets/images/clients/pic-1.png" alt="teacher" class="w-100 h-100">
                        </div>
                        <h3>Winnie Johnson</h3>
                        <p class="badge bg-brand-blue-100 text-default-on-primary">Computer Science</p>
                    </div>
                    <div class="col-12 col-lg-4 d-flex flex-column align-items-center gap-2">
                        <div class="teacher-img mb-4">
                            <img src="assets/images/clients/pic-2.png" alt="teacher" class="w-100 h-100">
                        </div>
                        <h3>Mark Quinton</h3>
                        <p class="badge bg-brand-blue-100 text-default-on-primary">French</p>
                    </div>
                    <div class="col-12 col-lg-4 d-flex flex-column align-items-center gap-2">
                        <div class="teacher-img mb-4">
                            <img src="assets/images/clients/pic-3.png" alt="teacher" class="w-100 h-100">
                        </div>
                        <h3>Inan Tzain</h3>
                        <div class="d-flex flex-wrap gap-2">
                            <p class="badge bg-brand-blue-100 text-default-on-primary">Mathematics</p>
                            <p class="badge bg-brand-blue-100 text-default-on-primary">Biology</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Testimonial Section -->
<section class="testimonial text-center position-relative overflow-hidden" style="background-image: url(/assets/images/illustrations/africa-map.png); background-size: cover;">
    <div class="ellipsis first"></div>
    <div class="ellipsis second"></div>
    <div class="overlay-layer-blur"></div>

    <div class="container" style="z-index: 5;">
    <div class="w-100 max-w-md mx-auto d-flex flex-column justify-content-center align-items-center gap-2">

        <div id="carouselExampleCaptions" class="carousel slide w-100">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="carousel-caption text-default-on-primary fw-bold d-none d-md-block">
                            <h2 class="mb-4 fw-bold">Lucy Mwaki</h2>
                            <p>Love having the “verify” section focused on community stakeholders validating the real world impact. As a funder, seeing that sort of first-hand feedback provided by community members is a great addition to our vetting process.</p>
                            <a href="#" class="btn btn-primary my-3">Link to Lucy's Success</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="assets/images/landing-page/student-1.jpg" class="d-block w-100 h-100" alt="...">
                    </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="carousel-caption text-default-on-primary fw-bold d-none d-md-block">
                            <h2 class="mb-4 fw-bold">Lucy Mwaki</h2>
                            <p>Love having the “verify” section focused on community stakeholders validating the real world impact. As a funder, seeing that sort of first-hand feedback provided by community members is a great addition to our vetting process.</p>
                            <a href="#" class="btn btn-primary my-3">Link to Lucy's Success</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="assets/images/landing-page/student-1.jpg" class="d-block w-100 h-100" alt="...">
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="carousel-caption text-default-on-primary fw-bold d-none d-md-block">
                            <h2 class="mb-4 fw-bold">Lucy Mwaki</h2>
                            <p>Love having the “verify” section focused on community stakeholders validating the real world impact. As a funder, seeing that sort of first-hand feedback provided by community members is a great addition to our vetting process.</p>
                            <a href="#" class="btn btn-primary my-3">Link to Lucy's Success</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="assets/images/landing-page/student-1.jpg" class="d-block w-100 h-100" alt="...">
                    </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    </div>
</section>

<!-- Frequently asked questions -->
<section class="position-relative d-flex flex-column align-items-center pt-12 pb-8 px-6 d-none">
    <!-- Background - @formatter:off -->
    <svg class="-z-1 position-absolute inset-0 opacity-25" style="z-index: -1;"
    viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
        <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="790" cy="491"></circle>
        </g>
    </svg>
    <!-- @formatter:on -->
    <div class="container">
        <div class="w-100 max-w-7xl">
            <div class="text-center">
                <h2 class="text-4xl font-extrabold tracking-tight leading-tight">
                    Frequently Asked Questions
                </h2>
                <p class="mt-2 text-xl text-secondary">
                    Here are the most frequently asked questions you may check before getting started
                </p>
            </div>
            <!-- FAQs d-grid -->
            <div class="d-grid faq-grid gap-x-6 gap-y-12 w-100 mt-12">
                <div>
                    <div class="text-xl font-semibold">
                        What is the duration of the free trial?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Our app is free to try for 14 days, if you want more, you can provide
                            payment details which will extend your trial to 30 days providing you
                            an extra 16 more days to try our app.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        What makes Zeraki different from other legal case management apps?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Zeraki is uniquely designed to support both individual lawyers and law firms with tailored features that enhance productivity and communication.
                            For individual lawyers, it offers streamlined case management and direct messaging, while law firms benefit from added functionalities like team collaboration and admin web privileges, all within one mobile application.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        What is the storage is for?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Since we provide an extremely detailed reporting and analytics
                            tool, they require quite a bit storage space. For average use, you
                            don’t have to worry about running out of space since the
                            Personal package limits the projects you can have.
                        </p>
                        <p class="mt-2">
                            For some reason if you run out of space, contact us and we will
                            see what can be done about it and make sure you are not
                            generating unnecessary reports and/or analytics data.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        Can I use Zeraki if I am a solo practitioner?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            position-absolutely! The Individual Lawyer Plan is specifically designed for solo practitioners.
                            It offers all the essential tools needed for efficient case management, court date alerts, and seamless communication with clients and opposing counsel, directly from your mobile device.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        How does the Premium Law Firm Plan enhance team collaboration?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            The Premium Law Firm Plan enables law firms to integrate teams within the app, allowing for real-time case assignments, document sharing, and updates.
                            It also includes admin web privileges for managing team settings and department-specific organization, making it easier to oversee larger, more complex legal operations.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        Is my data secure with Zeraki?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Yes, security is a top priority for us.<br>
                            Zeraki uses advanced encryption and security protocols to ensure that all your case information and communications are protected.
                            Additional security features in the Premium Law Firm Plan, such as enhanced access controls, provide even greater security for sensitive information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA Section -->
<section class="p-4 text-center">
    <div class="container">
    <div class="w-100 max-w-md mx-auto d-flex flex-column justify-content-center align-items-center gap-2">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <h2 class="text-5xl font-bold">Ready to get started?</h2>
                <p>Don't let a cluttered calendar disrupt your study proceedings. Sign up for Zeraki's waitlist and step into a world of organized, stress-free schooling management. <br> Find us on google app playstore services to begin your jouney</p>
                <a class="btn btn-primary mt-4 w-100"
                    (click)="joinTheWaitlistModal()">
                    <span>Download on Google Play Store</span>
                </a>
            </div>
            <div class="col-12 col-lg-6">
                <img src="assets/images/landing-page/phone-mockup-zeraki.png" alt="illustration" class="object-fit-contain w-100 mx-auto">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Join the waitlist modal -->
<!-- <app-modal [(showModal)]="displayModal">
    <app-join-the-waitlist-modal></app-join-the-waitlist-modal>
</app-modal> -->
