<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full">
        <div class="w-full">
            <!-- Logo -->
            <div class="w-20 mx-auto">
                <img src="assets/images/logo/logo-dark.svg">
            </div>

            <!-- Title -->
            <div class="text-center">
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Join the Waitlist</div>
                
                <div class="flex items-baseline justify-center mt-0.5 font-medium">
                    <div>Be Among the First to Revolutionize Your Legal Practice with Trial Manager</div>
                    <!-- <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-up']">Sign up
                    </a> -->
                </div>
                <!-- <p>
                    Ready to take your legal practice to the next level? 
                    Trial Manager is on the way to transforming how individual lawyers and law firms manage their cases, communicate, and succeed. By joining our waitlist, you'll be among the first to access these pioneering tools designed specifically for legal professionals like you.
                </p> -->
            </div>

            <!-- Sign in form -->
        </div>
    </div>
</div>
