@media screen and (min-width: 767px) {
    .ellipsis-base {
        top: -70px;
    }

    .card {
        .card-title {
            font-size: 1.25em;
        }
    }
}

@media screen and (min-width: 960px) {
    .hero-section {
        .cta-img-1, .cta-img-2 {
            display: block;
        }
        h1 {
            font-size: 3.5em; 
        }
        p {
            font-size: 1.5em;
        }
    }
    .fuse-vertical-navigation-item-wrapper {
        margin-right: 0 !important;
    
        a {
    
            &.fuse-vertical-navigation-item-active {
                border-radius: 32px 0 0 32px !important;
                position: relative !important;
    
                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 0 0 32px 0;
                    background-color: $primaryBlack;
                    position: absolute;
                    top: -12px;
                    right: 0;
                    box-shadow: 3px 3px 0 3px $backgroundPrimaryWhite;
                }
    
                &::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 0 32px 0 0;
                    background-color: $primaryBlack;
                    position: absolute;
                    bottom: -12px;
                    right: 0;
                    box-shadow: 3px -3px 0 3px $backgroundPrimaryWhite;
                }
            }
        }
    }
    .faq-grid {
        grid-template-columns: 1fr 1fr;
    }
    .main-content {
        margin-left: 240px;
        // float: right;
        width: calc(100% - 240px);
        // padding: 0 0 0 1.5em;
    }
    .sidebar {
        left: 0;
        .menu {
            .menu-item {
                #sidebarCollapseBtn {
                    display: none;
                }
            }
        }
        .submenu {
            height: 100%;
            max-height: 80vh;
        }
    }
}