<div class="min-vh-100 d-flex justify-content-center align-items-center linear-brand-blue">
    <div class="container">
        <div class="card w-100 max-w-4xl mx-auto box-shadow text-center border-0">
            <div class="card-header bg-transparent">
                <img src="assets/images/logo/logo.png" class="w-100 object-fit-contain mx-auto" alt="Logo" style="max-width: 200px;">
            </div>
            <div class="card-body">
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()"
                class="d-flex flex-column gap-2">
                    <div class="input-group">
                    <input class="form-control" type="email" id="email" formControlName="email">
                    <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors['required']">
                        Email is required.
                        </div>
                        <div *ngIf="email.errors['email']">
                        Please enter a valid email.
                        </div>
                    </div> -->
                    </div>
                    <div>
                        <input class="form-control" type="password" id="password" formControlName="password">
                        <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors?.['required']">
                            Password is required.
                        </div>
                        </div> -->
                    </div>
                    <!-- Submit button -->
                <button class="btn btn-primary" type="submit" [disabled]="signInForm.invalid">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
