<div class="container">
  <div class="row gap-4 gap-lg-0">

    <div class="col-12 col-lg-8">
      <div class="d-flex flex-column gap-4">

        <div class="row gap-4 gap-lg-0 align-items-center text-center text-lg-start">
          <div class="col-12 col-lg-8">
            <h1>Welcome back, <span class="text-brand-green-500">{{ user?.name }}</span></h1>
            <p>
              Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <img src="assets/images/illustrations/web-development-flatline-1.svg" alt="" class="w-100 max-w-3xl mx-auto object-fit-contain">
          </div>
        </div>

        <div class="card border-0">
          <div class="card-header">
            <div>
              <h3 class="card-title">Assignments (3)</h3>
              <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
            </div>
            <a href="#" class="btn btn-primary">See all assignments</a>
          </div>
          <div class="card-body">

            <div class="card">
              <div class="card-header align-items-start">
                <div>
                  <h4 class="card-title">Assignment Title</h4>
                  <p class="card-subtitle">Computer Science</p>
                  <div class="d-flex flex-column mt-4">
                    <p><fa-icon [icon]="faCalendar" class="text-brand-green-500"></fa-icon> 10-11-2023</p>
                    <p><fa-icon [icon]="faClock" class="text-brand-green-500"></fa-icon> 02:00pm</p>
                    <p>Status: <span class="badge badge-primary">Active</span></p>
                  </div>
                </div>
                <a href="#" class="w-24 h-24 d-flex justify-content-center align-items-center"><fa-icon [icon]="faDotVertical"></fa-icon></a>
              </div>
              <div class="card-body">
                <p>
                  Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.
                </p>
                <!-- <h4>Teacher:</h4> -->
                <hr>
                <div class="d-flex flex-wrap align-items-center gap-2">
                  <img src="assets/images/avatars/female-01.jpg" alt="teacher" class="w-60 h-60 object-fit-cover" style="border-radius: 50%;">
                  <div>
                    <h4>Brian Okere</h4>
                    <p>brian.okeregmail.com</p>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent border-0">
                <a href="#" class="btn btn-primary w-100">Download Assignment</a>
              </div>
            </div>

          </div>
        </div>

        <div class="card border-0">
          <div class="card-header">
            <div>
              <h3 class="card-title">Assessment (3)</h3>
              <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
            </div>
            <a href="#" class="btn btn-primary">See all assessments</a>
          </div>
          <div class="card-body">

            <a href="#">
              <div class="card hovering-zoom">
                <div class="card-body d-flex justify-content-center bg-brand-green-50">
                  <img src="assets/images/doc-thumb.jpg" alt="" class="w-100 object-fit-contain" style="max-width: 200px;">
                </div>
                <div class="card-header align-items-start">
                  <div>
                    <h4 class="card-title">Strengths & Weakness Analysis</h4>
                    <p>Status: <span class="badge badge-primary">Ready for review</span></p>
                  </div>
                  <a href="#" class="w-24 h-24 d-flex justify-content-center align-items-center"><fa-icon [icon]="faDotVertical"></fa-icon></a>
                </div>
                <!-- <div class="card-footer bg-transparent border-0">
                    <a href="#" class="btn btn-primary w-100">Download Assignment</a>
                </div> -->
              </div>
            </a>

          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column gap-4">

        <div class="card">
          <div class="card-header">
            <div>
              <h3 class="card-title">Notifications</h3>
              <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
            </div>
            <!-- <a href="#" class="btn btn-primary">See all assignments</a> -->
          </div>
          <div class="card-body">
            <ul>
              <li>
                <a href="#" class="d-flex justify-content-between align-items-center">
                  <span><fa-icon [icon]="faFile" class="text-brand-green-500"></fa-icon> Assignments (2)</span>
                  <fa-icon [icon]="faArrowRight"></fa-icon>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between align-items-center">
                  <span><fa-icon [icon]="faFile" class="text-brand-green-500"></fa-icon> Exams (1)</span>
                  <fa-icon [icon]="faArrowRight"></fa-icon>
                </a>
              </li>
              <li>
                <a href="#" class="d-flex justify-content-between align-items-center">
                  <span><fa-icon [icon]="faFile" class="text-brand-green-500"></fa-icon> Assessments (0)</span>
                  <fa-icon [icon]="faArrowRight"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
