<div class="container">

    <!-- Header -->
    <div class="card header-decorater mb-5">
        <!-- <div class="decorater-ellipse">
            <div class="ellipse ellipse-sm"></div>
            <div class="ellipse ellipse-md"></div>
            <div class="ellipse ellipse-lg"></div>
        </div> -->
        <img src="assets/images/pattern.png" alt="" class="pattern">

        <div class="card-body text-center text-lg-start" style="z-index: 5;">
            <div class="row align-items-center justify-content-lg-between">
                <!-- Name -->
                <div class="col-12 col-lg-6">
                    <div>
                        <h1>My Assessments</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Ultrices venenatis sit mi netus consectetur bibendum lacus eu parturient.</p>
                        <a href="" class="btn btn-secondary">
                            <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
                            Add Assessment
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Illustration -->
                    <div class="w-100 mx-auto d-none d-lg-block" style="max-width: 200px;">
                        <img src="assets/images/illustrations/personal-data-flatline.svg" alt="illustration" class="w-100 h-100 object-contain">
                    </div>
                </div>
            </div>
        </div>

    </div>

<!--    <apx-chart-->
<!--                class="flex-auto w-full h-full"-->
<!--                [chart]="chartVisitors.chart"-->
<!--                [colors]="chartVisitors.colors"-->
<!--                [dataLabels]="chartVisitors.dataLabels"-->
<!--                [fill]="chartVisitors.fill"-->
<!--                [grid]="chartVisitors.grid"-->
<!--                [series]="chartVisitors.series"-->
<!--                [stroke]="chartVisitors.stroke"-->
<!--                [tooltip]="chartVisitors.tooltip"-->
<!--                [xaxis]="chartVisitors.xaxis"-->
<!--                [yaxis]="chartVisitors.yaxis">-->
<!--    </apx-chart>-->

<!--     <apx-chart [series]="chartVisitors.series" [chart]="chartVisitors.chart"></apx-chart>-->
<!--     <apx-chart [series]="chartVisitors.series" [chart]="chartVisitors.chart"></apx-chart>-->

    <!-- <ng-container *ngIf="chartVisitors?.chart">
        <apx-chart [series]="chartVisitors.series" [chart]="chartVisitors.chart"></apx-chart>

      </ng-container> -->



    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
            Active
        </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        </div>

      </div>

</div>
